*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




:root{
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
    --Dark-gray: hsl(0, 0%, 59%);
   
}


@media screen and (max-width: 960px) {
   body{
        padding: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin: 0 auto;
        font-family: 'Kumbh Sans', sans-serif;
        background-color: var(--Dark-cyan);
        text-transform: capitalize;
        background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
        background-repeat: no-repeat;
        background-position: right 50vw bottom 50vw, left 50vw top 50vw;
    
   }

   .container{
    border-radius: 15px;
    overflow: hidden;
}


.wrapper{
    text-align: center;
    background-color: #fff;
   
   }

   .content img{
        border-radius: 50%;
        border: solid 5px #fff;
        margin-top: -55px; 
   }

   .content h2{
        color: var(--Very-dark-desaturated-blue);
        font-size: 18px;
        font-weight: 700;
        margin-top: 10px;
   }

   .content span{
        color: var(--Dark-gray);
        font-weight: 400;
   }

   .content p{
        margin-top: 10px;
        color: var(--Dark-gray);
   }

   .content-footer{
        border-top: solid 1px hsla(227, 10%, 46%, 0.2) ;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
        padding: 30px 50px;
   }


   .content-footer .stats{
       font-size: 18px;
       font-weight: 700;
       color: var(--Very-dark-desaturated-blue);
   }

   .content-footer p.stats-text{
        color: var(--Dark-gray);
        font-size: 12px;
        letter-spacing: 2px;
        margin-top: 5px;
   }


}


/* FOOTER */

 .attribution {
    margin-top: 5px;
    font-size: 12px;
    text-align: center;
}
 .attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
    font-weight: 700;
}